<%= link_to 'New Product', new_product_path %>
<table>
	<tr>
		<th>
			Product Title
		</th>
		<th>
			Product Description
		</th>
		<th>
			Product Price
		</th>
		<th>
			Product Category
		</th>
		<th>
			Product Country
		</th>
		<th>
			Product Difficulty Level
		</th>
		<th>
			ACTIONS
		</th>
	</tr>
	
	<% @products.each do |product| %>
		<tr>
			<td>
				<h3>
					<%= link_to product.title, product_path(product) %> 
				</h3>
			</td>
			<td>
					<%= product.description %><br>
			</td>
			<td>
					<%= product.price %><br>
			</td>
			<td>
					<%= product.category.title %><br>
			</td>
			<td>
					<%= product.difficulty_level %><br>
			</td>
			<td>
					<%= product.country_of_origin %><br>
			</td>
			<td>
					<%= link_to "edit", edit_product_path(product) %>
					<%= link_to "delete", product_path(product), method: :delete, data: {confirm: "Are you sure to delete this product?"} %>
			</td>
	</tr>
	<% end %>

</table>
